{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Reestablecer contraseña</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href= "{% static 'css/style1.css' %}"/>

</head>
<body>
	<nav style="background-color:#222222 ">
        <div class="logo">
          <a class="logo" href="/"><img  src="{% static 'img/logo1.jpeg' %}" style=" margin-top: 10px"/></a>
        </div>  
    </nav>
<br>
<br>
<br>
{% if validlink %}
<h1 class="logo" style="text-align: center;">Cambiar contraseña</h1>
<br>
	<form method="post">
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <label for="id_new_password1" style="width: 50px">Nueva contraseña:</label>
        <br>
        <br>
        {{ form.new_password1 }}
        {{ form.new_password2.errors }}
        <br>
        <br>
        <label for="id_new_password2">Confirme contraseña:</label>
        <br>
        <br>
        {{ form.new_password2 }}
        <input type="submit" value="Cambiar mi contraseña" />
    </form>
{% else %}
	<br>
<div class="signup-wrapper animated bounceInUp" style="width: 850px">
    <div class="signup-form">
        <h1 class="text-center">Enlace invalido: Este enlace ya ha sido utilizado</h1>
    </div>
        <img src="{% static 'img/check2.png' %}" style="margin-left: 50px; width: 200px; height: 200px" />
</div>

{% endif %}
</body>
</html>
{% endblock %}