
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Reestablecer contraseña</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href= "{% static 'css/style1.css' %}"/>
</head>
<body>
	<nav style="background-color:#222222 ">
        <div class="logo">
          <a class="logo" href="/"><img  src="{% static 'img/logo1.jpeg' %}" style=" margin-top: 10px"/></a>
        </div>  
    </nav>
</nav>
<br>
<br>
<br>
<h1 class="logo" style="text-align: center;">Reestablecer contraseña</h1>
<br>
<form method="post">
	<br>
	{% csrf_token %}
	<label for="id_email">Correo:</label> {{ form.email }} 
	<input type="submit" value="Enviar"/>
	<br>
	<br>
	<a href=" /login" style="color: #143eff; left: 50px;">Cancelar</a>
</form>
</body>
</html>
{% endblock %}