{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="main.css"> 
    <link rel="stylesheet" type="text/css" href= "{% static 'css/style4.css' %}"/>
</head>
<body> 
<nav style="background-color:#222222 ">
        <div class="logo">
          <a class="logo" href="/"><img  src="{% static 'img/logo1.jpeg' %}" style=" margin-top: 10px; margin-bottom: 5px"/></a>
        </div>  
    </nav> 
    <div class="content">
      <br>
      <br>
      <br>
      <br>
        <div class="signup-wrapper animated bounceInUp" style="width: 900px">
            <div class="signup-form">
               <h1 class="text-center">Su contraseña se reestableció correctamente</h1>
			   <p class="text-center"><a  href="/login" style="color: #143eff">Iniciar sesión</a></p>
            </div>
            <img src="{% static 'img/check.png' %}" style="margin-left: 50px; width: 230px; height: 230px" />
        </div>
    </div>
</body>
</html>
{% endblock %}

