{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post It | Signup </title>
    <meta name="author" content="Grupo-13-Tpi">
    <meta name=" keywords " content=" Post It, post it, Post It El Salvador, fotografias post it, post it fotos">
    <meta name=" description " content="Descubre ideas e inspirate, que tus mejores fotografias no se pierdan.">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <script type="application/ld+json"> 
        {
          "@context": "https://schema.org",
          "url": "https://tallernvs.cc", 
          "logo": "https://tallernvs.cc/static/images/logo.png"
        }
    </script>
    <meta name="title" content="Post It | El Salvador">
    <meta name="language" content="Spanish">
    <meta name="Geography" content="El Salvador">
    <meta name="Country" content="El Salvador">
    <meta name="City" content="San Salvador">
    <meta name="Copyright" content=""> <!-- aqui iria el dominio en las comillas -->
    <meta name="Designer" content="Post It.">
    <meta name="Publisher" content="Post_It_Project">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="public">

       <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Post It.">
    <meta itemprop="description" content="Descubre ideas e inspirate, que tus mejores fotografias no se pierdan.">
    <meta itemprop="image" content="https://tallernvs.cc/images/logo.png"> <!--cambiar esto-->
    
    <link rel="stylesheet" href="main.css"> 
    <link rel="stylesheet" type="text/css" href= "{% static 'css/style4.css' %}"/>
</head>
<body>  
  <nav style="background-color:#222222 ">
        <div class="logo">
          <a class="logo" href="/"><img  src="{% static 'img/logo1.jpeg' %}" style="margin-bottom: 10px"/></a>
        </div>  
      </nav>
    <div class="content">
      &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
        <h1 class="logo1">Registrate</h1>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="signup-wrapper animated bounceInUp" style="width: 1200px; margin: 0 auto; font-size: 15px">
            <div class="signup-form">
                <form id="signup-form" method="post" action="#">
                     {{ form.as_p }}
                     {% csrf_token %} 
                     <br>
                    <button type="submit">Registrar</button>
                    <br>
                </form>
                <br>
                <p>¿Ya tienes una cuenta? <a href=" /login" style="color: #143eff">  Iniciar sesión</a></p>
            </div>
            <div class="signup-info" >
              <div class="slider" style="width: 500px">
                <ul>
                  <li><img src="{% static 'img/logo1.jpeg' %}" style="width: 500px; height: 333px" /></li>
                  <li><img src="{% static 'img/img06.jpeg' %}"/></li>
                  <li><img src="{% static 'img/img07.jpeg' %}"/></li>
                  <li><img src="{% static 'img/img08.jpeg' %}"/></li>
                </ul>
              </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
{% endblock %}






